<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "drake.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Drake</h1>
		<p>Welcome to my music studio in paris.</p>
		<p>Aubrey Drake Graham is a Canadian rapper,
       singer, songwriter, record producer, actor, and entrepreneur.
      Drake <br> initially gained recognition as an actor on the teen drama
       television series Degrassi.</p>
	</div>
</div>
